events {
  worker_connections  1024;
}

http {
  server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ server_name }};
    root {{ document_root }};

    location / {
      try_files $uri $uri/ =404;
    }
  }
}