---
- name: Install NGINX
  yum:
    name: nginx
    state: latest
    update_cache: yes

- name: Creates website directory
  file:
    path: "{{ document_root }}"
    state: directory
    mode: '0775'

- name: Copy website files
  template:
    src: "index.html.j2"
    dest: "{{ document_root }}/index.html"
    mode: preserve
  notify: "Restart Nginx"

- name: Apply Nginx template
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  notify: "Restart Nginx"
